<h1>All queries</h1>

<% if @queries.empty? %>
  <p>There is no any saved queries yet. Go ahead and generate some macs!</p>
<% else %>
  <% @queries.each do |query| %>
    <div class="query">
      <%= link_to title(query), query, class: "query-links" %>
      <div class="action-links">
        <%= link_to "edit",   edit_query_path(query) %>
        <%= link_to "delete", query, method: :delete, data: { confirm: "You sure?" } %>
      </div>
    </div>
  <% end %>
<% end %>

<%= will_paginate %>
