<h1><%= title(@query) %></h1>

<%
base   = 16777216
vendor = @query.vendor.scan(/.{2}/)
start  = @query.start.scan(/.{2}/).map! { |n| n.hex }
amount = @query.amount
s      = @query.separator

start = base + start[2] + (start[1] * 256) + (start[0] * 65536)
%>

<% amount.times do %>
  <p><%= vendor.join(s) + s + format(start, s) %></p>
  <% start += 1 %>
<% end %>
