<div class="query">
  <h1><%= title(@query) %></h1>
  <%= link_to "edit",   edit_query_path(@query), class: "title-link" %>
  <%= link_to "delete", @query, method: :delete, data: { confirm: "You sure?" },
                                class: "title-link" %>
</div>

<div class="macs">
  <% amount.times do %>
    <p><%= format(vendor, spr) + format(position, spr) %></p>
    <% position += 1 %>
  <% end %>
</div>
