@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 60px;
}

.btn {
  margin-top: 10px;
}

a.brand {
  margin-left: 98px;
  font-size: 30px;
  color: white;
  font-weight: bold;
  letter-spacing: -2px;
  text-transform: lowercase;
}

p {
  font-size: 16px;
}
