<footer class="footer">
	<ul class="nav navbar-nav">
		<li><%= link_to "Github", "https://github.com/soupdawgie/macgen" %></li>
		<li><%= link_to "LinkedIn", "#" %></li>
	</ul>
	<small>
		Macgen—a simple generator of consecutive MAC addresses for the fellows at <%= link_to "QTECH", "http://www.qtech.ru/" %>.
		Powered by <%= link_to "Ruby on Rails 4.2.2", "http://rubyonrails.org/" %>.
	</small>
</footer>
