<footer class="footer">
	<ul class="nav navbar-nav">
		<li><%= link_to "GitHub", "https://github.com/vmasko/macgen" %></li>
		<li><%= link_to "LinkedIn", "https://linkedin.com/in/vmasko" %></li>
	</ul>
	<small>
		Macgen—a simple generator of consecutive MAC addresses.
	</small>
</footer>
