<header class="navbar navbar-fixed-top navbar-inverse">
  <nav>
    <ul class="nav navbar-nav">
      <li><%= link_to "Macgen", root_path, class: "brand" %></li>
      <li><%= link_to "New query",   new_query_path %></li>
      <li><%= link_to "All queries", queries_path %></li>
    </ul>
  </nav>
</header>
